*{
    margin: 0;
    padding: 0;
    list-style: none;
}
@function px($px){
    @return ($px / 75) * 1rem;
}
html,body,.wrapper{
    height: 100%;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: px(118);
    background: #435448;
    color: orangered;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width: px(60);
    }

}
main {
    overflow: hidden;
    flex: 1;
    padding: 0 px(10);
    #swiper1 {
        ul>li {
            height: px(452);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .renzheng{
        width: 100%;
        height: px(80);
        line-height: px(80);
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                padding: px(10) px(4);
                span{
                    display: inline-block;
                    width: px(30);
                    height: px(30);
                    line-height: px(30);
                    text-align: center;
                    background: #615555;
                    color: #fff;
                    border-radius: 50%;
                }
            }
        }
        
    }
    .nav{
        width: 100%;
        height: px(100);
        display: flex;
        flex-wrap: wrap;
        margin-top: px(20);
        dl{
            width: 20%;
            display: flex;
            flex-direction: column;
            text-align: center;
            dt{
                width: 100%;
                height: px(45);

                img{
                    width: 30%;
                }
            }
            dd{
                font-size: px(30);
            }
        }
    }
    .xuan{
        width: 100%;
        height: px(40);
        margin: px(20) 0;
        display: flex;
        flex-direction: row;
        line-height: px(40);
        span{
            display: inline-block;
            width: px(5);
            height: px(40);
            background: #000;
            margin: 0 px(20);
        }
    }
    .song,.xinpin{
        width: calc(100% - px(10));
        height: px(260);
        overflow: hidden;
        
        div{
            width: px(1400);
            display: flex;
            flex-wrap: wrap;
            dl{
                display: flex;
                flex-direction: column;
                margin-left: px(15);
                position: relative;
                dt{
                    margin-top: px(15);
                    img{
                        width: px(230);
                        height: px(250);
                    }
                }
                dd{
                    width: 100%;
                    height: px(50);
                    position: absolute;
                    left:0;
                    bottom:px(10);
                    align-items: center;
                    font-size: px(34);
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
    .shengri{
        width: calc(100% - px(10));
        height: px(260);
        overflow: hidden;
        
        div{
            width: px(1400);
            display: flex;
            flex-wrap: wrap;
            dl{
                display: flex;
                flex-direction: column;
                margin-left: px(20);
                margin-top: px(20);
                background: #f7f9fa;
                position: relative;
                dt{
                    margin-top: px(15);
                    img{
                        width: px(165);
                    }
                }
                dd{
                    position: absolute;
                    left:px(10);
                    top:px(-10);
                    text-align: center;
                    font-size: px(37);
                    color:#f0f;
                }
            }
        }
    }
    .rexiao{
        width: 100%;
        display: flex;
        flex-direction: row;
        dl{
            width:px(454);
            height: px(350);
            display: flex;
            flex-direction: column;
            border: solid px(1) #cccccc;
            dd{
                margin: px(15) px(10);
                p:nth-child(1){
                    font-size: px(40);
                }
                p:nth-child(2){
                    color: #cccccc;
                }
            }
            dt{
                position: relative;
                top:px(-30);
                left: px(180);
                img{
                    width: px(170);
                    height: px(170);        
                }
            }
            >p{
                display: flex;
                justify-content: space-around;
                span{
                    &:nth-child(1){
                        padding: px(1) px(10);
                        background: #ff734c;
                        border-radius: px(15);
                    }
                    del{
                        color: #cccccc;
                    }
                }
            }
        }
    }
    .xinpin{
        
        div{
            dl{
                dd{  
                    background: #000;
                    opacity: 0.7;
                }
            }
        }
    }
    .songren{
        width: 100;
        height: auto;
        //background: #e9ecf0;
        margin-top: px(30);
        h2{
            width: 100%;
            padding: px(30) 0;
            text-align: center;
            background: #fff;
            border-top:solid px(15) #e9ecf0;
        }
        dl{
            display: flex;
            flex-direction: row;
            padding: px(15) 0;
            background: #fff;
            margin-top: px(20);
            box-shadow: 3px 3px 5px 3px #ccc;
            dt{
                width: 50%;
                height: px(300);
                img{
                    width: 90%;
                    height: px(300);

                }
            }
            dd{
                display: flex;
                flex-direction: column;
                color: #232628;
                width: px(300);
                p{
                    
                    margin-top: px(5);
                    &:nth-child(2){
                        font-weight: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    &:nth-child(3){
                        background: #ff734c;
                        width: px(160);
                        border-radius: px(20);
                        text-align: center;
                        color: #fff;
                    }
                    &:nth-child(4){
                        line-height: px(60);
                        border-bottom: solid px(1) #e9ecf0;
                        border-top:solid px(1) #e9ecf0;
                    }
                    &:nth-child(5){
                        margin-top: px(30);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        >span{
                            &:nth-child(1){
                                display: flex;
                                flex-direction: column;
                                span{
                                    &:nth-child(1){
                                        font-size: px(30);
                                        color: #ff734c;
                                        del{
                                            font-size: px(12);
                                            color: #232628;
                                        }
                                    }   
                                }
                            }
                            img{
                                width: px(35);
                                height: px(35);
                                margin-top: px(30);
                            }
                        }
                        
                    }
                }
            }
        }
        .gengduo{
            width: 100%;
            height: px(100);
            background: #fff;
            padding-top: px(30);
            >p{
                width: px(150);
                height: px(40);
                margin: 0 auto;
                text-align: center;
                border:solid px(2) #000;
            }
        }
    }
}
footer{
    width: 100%;
    height: px(100);
    background: f7f9fa;
    display: flex;
    flex-wrap: wrap;
    dl{
        width: 25%;
        display: flex;
        flex-direction: column;
        text-align: center;
        dt{
            width: 100%;
            height: px(60);
            margin-top: px(5);
            img{
                width: 25%;
            }
        }
    }
}
